@font-face {
    font-family: 'LemonMilk';
    src: url(./assets/fonts/lemon_milk/LEMONMILK-Regular.otf);
    font-weight: normal;
}

:root {
    font-size: 16px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    margin-block: 5rem;
    background-color: #070707;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

main {
    display: grid;
    row-gap: 2rem;
    padding-inline: 10rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ececec;
    font-size: 2rem;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ececec;
    border: none;
    color: black;
    padding: 1rem 2rem;
    min-width: 15rem;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-decoration: none;
}

.btn * {
    margin-inline: .5rem;
}

.btn svg {
    max-width: 1.8rem;
}

.project {
    padding: 2.3rem;
    background-color: #ececec;
    border-radius: 1rem;
}

.project h2 {
    grid-column: span 2;
    font-family: LemonMilk;
    padding: .5rem 0 1rem 3rem;
}

.content {
    display: flex;
    flex-wrap: row;
}

.p-caption {
    padding: 2rem;
    text-align: justify;
    background-color: #b2b9c4;
    border-radius: .7rem;
}

.p-caption h4 {
    font-style: italic;
    font-weight: lighter;
}

.p-caption h5 {
    text-align: end;
    margin-left: auto;
    max-width: 22rem;
}

.slideshow-container {
    position: relative;
    margin-right: 2rem;
}

.NOT {
    min-width: 40rem;
}

.errance {
    min-width: 55rem;
}

.LG {
    min-width: 32em;
}

.slide-NOT,
.slide-errance,
.slide-LG {
    display: none;
    min-height: 55vh;
    background-position: center;
    background-size: cover;
    border-radius: .7rem;
}

.numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    user-select: none;
}

.slide-caption {
    position: absolute;
    bottom: 0;
    padding-block: .5em;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 1.1rem;
    font-style: italic;
    color: #ffffff;
    background-color: rgba(10, 10, 10, 40%);
    border-radius: 0 0 .5rem .5rem;
}

.slide-credit {
    margin-left: .2rem;
    font-size: small;
}

.prev,
.next {
    position: absolute;
    bottom: 0;
    width: auto;
    padding-block: .6rem;
    padding-inline: 1rem;
    color: rgba(255, 255, 255, 50%);
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: 150ms ease-in-out;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    color: rgba(255, 255, 255, 90%);
}

.fade {
    animation-name: fade;
    animation-duration: 400ms;
}

@keyframes fade {
    from {
        background-position: left center;
    }

    to {
        background-position: center;
    }
}

footer {
    position: fixed;
    width: 100%;
    font-size: 1.5rem;
    height: 2rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: .5rem;
    color: white;
    background-color: rgba(196, 0, 0, 0.925);
}
