@import url('fonts.css');

:root {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing : grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: rgb(30,30,30);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

canvas{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

main {
    margin: 5rem auto;
    display: grid;
    row-gap: 3rem;
    max-width: 76vw;
}

.header {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-bottom: 1rem;
    color: #ffffff;
    font-size: 2rem;
    line-height: 1.1;
}

.header h1 {
    margin-right: auto;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 1rem 2rem;
    min-width: 6rem;
    max-height: 1.25rem;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-decoration: none;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.btn * {
    margin-inline: .5rem;
}

.btn svg {
    max-width: 1.8rem;
}

.project {
    padding: 2.3rem;
    border: solid rgba(255, 255, 255, 0.2) 1px;
    box-shadow: inset 0px 0px 10px 0px rgba(255, 255, 255, 0.3), 0px 0px 2px 0px rgba(255, 255, 255, 0.4);;
    border-radius: 1rem;
    min-width: none;
    backdrop-filter: blur(2px);
}

.project h2 {
    font-family: 'LemonMilk';
    padding: 1rem 0 2rem 3rem;
    color: white;
}

.content {
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
}

.p-caption {
    padding: 2rem;
    flex-basis: 24rem;
    flex-grow: 1;
    text-align: justify;
    background-color: #d4d8e2f0;
    border-radius: .7rem;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.p-caption h4 {
    font-style: italic;
    font-weight: lighter;
}

.p-caption h5 {
    text-align: end;
    margin-left: auto;
    max-width: 22rem;
}

.slideshow-container {
    position: relative;
    flex: 1;
    min-height: 55vh;
}

.NOT {
    aspect-ratio: 4/3;
}

.errance {
    aspect-ratio: 16/9;
}

.LG {
    aspect-ratio: 1;
}

.slide-NOT,
.slide-errance,
.slide-LG {
    display: none;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: .7rem;
}

.fade {
    animation: fade 300ms ease-in-out;
}

@keyframes fade {
    from {
        margin-left: auto;
    }

    to {
        margin-left: 0;
    }
}

.numbertext {
    color: white;
    font-size: .9rem;
    padding: .7rem .8rem;
    position: absolute;
    top: 0;
    background-color: rgba(10, 10, 10, 20%);
    border-radius: .7rem 0 .7rem 0;
}

.slide-caption {
    position: absolute;
    bottom: 0;
    padding-block: .5em;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 1.1rem;
    font-style: italic;
    color: white;
    background-color: rgba(10, 10, 10, 40%);
    border-radius: 0 0 .7rem .7rem;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.slide-credit {
    margin-left: .2rem;
    font-size: small;
}

.prev,
.next {
    position: absolute;
    bottom: 0;
    width: auto;
    padding-block: .6rem;
    padding-inline: 1rem;
    color: rgba(255, 255, 255, 70%);
    font-weight: bold;
    cursor: pointer;
    transition: 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    color: rgba(255, 255, 255, 95%);
    scale: 1.05;
}

footer {
    position: fixed;
    width: 100%;
    font-size: 1.5rem;
    height: 2rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: .5rem;
    color: white;
    background-color: rgba(196, 0, 0, 0.75);
}